@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#sf_ui_displaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/2204.ttf), url("../fonts/2204-webfont.woff2") format("woff2"), url("../fonts/2204-webfont.woff") format("woff"), url("../fonts/2204.ttf") format("truetype"), url("../fonts/2204-webfont.svg#sf_ui_displaymedium") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Neucha";
  src: url(../fonts/neucha.otf), url("../fonts/neucha-webfont.woff2") format("woff2"), url("../fonts/neucha-webfont.woff") format("woff"), url("../fonts/neucha-webfont.ttf") format("truetype"), url("../fonts/neucha-webfont.svg#sf_ui_displaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "MinionPro";
  src: url(../fonts/MinionPro-Regular.otf);
  font-weight: normal;
  font-style: normal; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

pre {
  overflow: auto; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-circle {
  border-radius: 50%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    margin: 0 7%;
    padding: 0 1%;
    width: 86%; } }

.container.my-row {
  padding: 0 0; }
  @media (max-width: 1199px) {
    .container.my-row {
      padding: 0 15px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "OpenSans", "Impact", sans-serif;
  font-size: 19.5px;
  line-height: 1;
  color: #191919;
  background-color: #fff;
  margin: 0;
  font-weight: normal; }

a {
  color: #cc0000;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none; }

a:focus {
  outline: none; }

img {
  border: none;
  max-width: 100%; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

input, button, textarea, select {
  outline: none; }

.vertical-align::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.vertical-align > * {
  display: inline-block;
  vertical-align: middle; }

.content {
  width: 100%; }

.card-btn-wrap {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 18px; }

.btn {
  font-family: "Neucha";
  color: #002868;
  font-size: 22px;
  font-weight: bold;
  padding-right: 40px;
  letter-spacing: 1.3px;
  position: relative; }
  .btn:after {
    content: '';
    position: absolute;
    right: 7px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url("../img/btn-hover.png") no-repeat center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .btn:hover:after {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px); }

.title {
  text-align: center;
  font-family: "Neucha";
  font-size: 62px;
  color: #cc0000;
  margin: 1em 0 .8em;
  letter-spacing: 3px;
  text-transform: uppercase; }
  @media (max-width: 991px) {
    .title {
      font-size: 55px; } }
  @media (max-width: 768px) {
    .title {
      font-size: 50px; } }
  @media (max-width: 500px) {
    .title {
      font-size: 45px; } }

.grad {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea384d+0,cc0000+100 */
  background: #ea384d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ea384d 0%, #cc0000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ea384d 0%, #cc0000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ea384d 0%, #cc0000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea384d', endColorstr='#cc0000', GradientType=1);
  /* IE6-9 */ }

header {
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 50;
  background: #fff; }
  header .container {
    display: flex;
    justify-content: space-between; }
    header .container:after, header .container:before {
      display: none; }
  header .nav-menu, header .header-right {
    width: calc(50% - 260px);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 1700px) {
      header .nav-menu, header .header-right {
        width: calc(50% - 180px); } }
    @media (max-width: 1199px) {
      header .nav-menu, header .header-right {
        width: calc(50% - 140px); } }
    @media (max-width: 991px) {
      header .nav-menu, header .header-right {
        width: calc(50% - 65px); } }
    @media (max-width: 768px) {
      header .nav-menu, header .header-right {
        width: auto; } }
  header .logo-header {
    width: 320px;
    text-align: center;
    position: absolute;
    top: 37px;
    left: calc(50% - 160px);
    color: #002868;
    font-family: "Neucha";
    font-size: 27px;
    z-index: 5; }
    @media (max-width: 1550px) {
      header .logo-header {
        top: 10px; } }
    @media (max-width: 1199px) {
      header .logo-header {
        font-size: 22px; } }
    @media (max-width: 991px) {
      header .logo-header {
        display: none; } }
    header .logo-header .logo-text {
      display: inline-block;
      width: 100%;
      margin-bottom: 18px; }
      @media (max-width: 1550px) {
        header .logo-header .logo-text {
          margin-bottom: 14px; } }
      @media (max-width: 1199px) {
        header .logo-header .logo-text {
          margin-bottom: 0; } }
    header .logo-header img {
      width: 143px;
      margin: 0 auto; }
      @media (max-width: 1199px) {
        header .logo-header img {
          width: 110px; } }
  header .mobile-logo {
    display: none; }
    @media (max-width: 991px) {
      header .mobile-logo {
        display: flex;
        align-items: center; } }
    header .mobile-logo a img {
      width: 80px; }
  header .nav-menu {
    position: relative;
    height: 140px;
    margin-left: 4px;
    font-size: 26px;
    text-transform: uppercase; }
    @media (max-width: 1550px) {
      header .nav-menu {
        font-size: 22px;
        height: 110px; } }
    @media (max-width: 1199px) {
      header .nav-menu {
        height: 77px;
        font-size: 20px; } }
    @media (max-width: 991px) {
      header .nav-menu {
        width: auto;
        float: left; } }
    header .nav-menu a {
      color: #002868;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      font-weight: 600; }
      header .nav-menu a:hover {
        color: #cc0000; }
    @media (max-width: 991px) {
      header .nav-menu .max-display-991 {
        display: none; } }
    @media (max-width: 991px) {
      header .nav-menu .display-991 {
        display: block; } }
    header .nav-menu .nav-menu-child {
      position: absolute;
      top: 100px;
      left: -25px;
      width: 150px;
      height: 0;
      z-index: 111;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      overflow: hidden; }
      @media (max-width: 1550px) {
        header .nav-menu .nav-menu-child {
          top: 78px;
          width: 137px; } }
      @media (max-width: 1199px) {
        header .nav-menu .nav-menu-child {
          top: 50px; } }
      header .nav-menu .nav-menu-child li {
        display: inline-block;
        width: 100%; }
      header .nav-menu .nav-menu-child a {
        font-weight: normal;
        margin-top: 13px;
        width: 100%;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: url("../img/brash-blue.png") no-repeat center;
        background-size: 100%;
        text-align: center; }
        @media (max-width: 1550px) {
          header .nav-menu .nav-menu-child a {
            margin-top: 7px; } }
        @media (max-width: 1199px) {
          header .nav-menu .nav-menu-child a {
            margin-top: 3px; } }
        header .nav-menu .nav-menu-child a:hover {
          background: url("../img/brash-red.png") no-repeat center;
          background-size: 100%;
          color: #fff; }
  @media (max-width: 991px) {
    header .header-right .contact-wrap {
      display: none; } }
  header .header-right .contact {
    color: #002868;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 26px;
    font-weight: 600; }
    @media (max-width: 1550px) {
      header .header-right .contact {
        font-size: 22px; } }
    @media (max-width: 1199px) {
      header .header-right .contact {
        font-size: 20px; } }
    header .header-right .contact:hover {
      color: #cc0000; }
  @media (max-width: 768px) {
    header .header-tell {
      display: none; } }
  header .header-tell a {
    color: #002868;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 26px;
    font-weight: 600; }
    @media (max-width: 1550px) {
      header .header-tell a {
        font-size: 22px; } }
    @media (max-width: 1350px) {
      header .header-tell a {
        font-size: 18px; } }
  header .header-tell .tell {
    display: flex;
    flex-direction: column;
    letter-spacing: 1.5px; }
    @media (max-width: 1550px) {
      header .header-tell .tell {
        letter-spacing: normal; } }
    header .header-tell .tell a {
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      header .header-tell .tell a:hover {
        color: #cc0000; }
      header .header-tell .tell a + a {
        margin-top: 12px; }
  header .mobile-tel-btn {
    display: none;
    align-items: center;
    font-size: 40px;
    color: #002868;
    cursor: pointer; }
    @media (max-width: 768px) {
      header .mobile-tel-btn {
        display: flex; } }
  header .mobile-tell {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 77px);
    z-index: 99;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0; }
    header .mobile-tell.life {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    header .mobile-tell.open {
      opacity: 1; }
    header .mobile-tell a {
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      margin-top: 10vh; }
    header .mobile-tell .close-tell {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      header .mobile-tell .close-tell span.close-text {
        color: #fff;
        margin-top: 5px; }
      header .mobile-tell .close-tell span:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #fff;
        color: #db1c26;
        font-size: 35px;
        font-weight: bold; }
  header .basket-icon {
    position: relative;
    padding: 20px 7px 19px 15px; }
    @media (max-width: 1550px) {
      header .basket-icon {
        padding: 15px 7px 19px 15px; } }
    @media (max-width: 1199px) {
      header .basket-icon {
        padding: 7px 5px 14px 10px; } }
    header .basket-icon:hover .header-card {
      opacity: 1;
      z-index: 99;
      height: auto;
      -webkit-transition: .5s, height 0s 0s;
      -moz-transition: .5s, height 0s 0s;
      -ms-transition: .5s, height 0s 0s;
      -o-transition: .5s, height 0s 0s;
      transition: .5s, height 0s 0s; }
    header .basket-icon a.icon-card {
      display: inline-block;
      text-align: center;
      width: 70px;
      height: 92px;
      background: url("../img/basket-icon.png") no-repeat center;
      background-size: 100%;
      color: #cc0000; }
      @media (max-width: 1550px) {
        header .basket-icon a.icon-card {
          width: 50px;
          height: 70px; } }
      @media (max-width: 1199px) {
        header .basket-icon a.icon-card {
          width: 38px;
          height: 50px; } }
      header .basket-icon a.icon-card:hover {
        color: #cc0000; }
      header .basket-icon a.icon-card span {
        font-weight: 600;
        font-size: 35px;
        margin-top: 13px; }
        @media (max-width: 1550px) {
          header .basket-icon a.icon-card span {
            font-size: 30px; } }
        @media (max-width: 1199px) {
          header .basket-icon a.icon-card span {
            font-size: 22px; } }
    header .basket-icon .header-card {
      position: absolute;
      width: 440px;
      top: 100px;
      right: 0;
      background: #fff;
      -webkit-box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.2);
      padding: 0 18px;
      letter-spacing: .5px;
      -webkit-transition: .5s, height 0s .5s;
      -moz-transition: .5s, height 0s .5s;
      -ms-transition: .5s, height 0s .5s;
      -o-transition: .5s, height 0s .5s;
      transition: .5s, height 0s .5s;
      opacity: 0;
      z-index: -9999;
      height: 0;
      overflow: hidden; }
      @media (max-width: 1550px) {
        header .basket-icon .header-card {
          top: 90px; } }
      @media (max-width: 1199px) {
        header .basket-icon .header-card {
          top: 70px; } }
      @media (max-width: 500px) {
        header .basket-icon .header-card {
          width: 300px; } }
      header .basket-icon .header-card .card-title {
        color: #666666;
        font-size: 14px;
        margin-bottom: 40px;
        margin-top: 18px; }
      header .basket-icon .header-card ul.one-card > li + li {
        border-top: 1px solid #bbbbbb;
        padding-top: 16px; }
      header .basket-icon .header-card .price-name {
        font-size: 18px;
        color: #666666; }
      header .basket-icon .header-card .card-prise {
        display: flex;
        justify-content: space-between;
        height: 34px; }
        header .basket-icon .header-card .card-prise .numeric {
          display: flex;
          justify-content: space-around;
          align-items: center;
          min-width: 47px; }
          header .basket-icon .header-card .card-prise .numeric .min, header .basket-icon .header-card .card-prise .numeric .max {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none; }
            header .basket-icon .header-card .card-prise .numeric .min:hover, header .basket-icon .header-card .card-prise .numeric .max:hover {
              color: #002868; }
          header .basket-icon .header-card .card-prise .numeric .number {
            font-weight: bold;
            color: #cc0000; }
        header .basket-icon .header-card .card-prise .numeric-price {
          display: flex;
          min-width: 100px;
          align-items: center;
          justify-content: space-between; }
          header .basket-icon .header-card .card-prise .numeric-price .price {
            font-weight: bold;
            color: #cc0000; }
            header .basket-icon .header-card .card-prise .numeric-price .price:after {
              content: 'ГРН';
              font-weight: normal;
              margin-left: 8px; }
          header .basket-icon .header-card .card-prise .numeric-price .dell {
            font-size: 13px;
            cursor: pointer; }
      header .basket-icon .header-card .delivery .card-text {
        font-size: 12px;
        display: flex;
        align-items: center;
        text-decoration: underline; }
        header .basket-icon .header-card .delivery .card-text a {
          color: #666666; }
          header .basket-icon .header-card .delivery .card-text a:hover {
            color: #002868; }

footer {
  background: #002868;
  padding: 50px 0; }
  footer .container {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 991px) {
      footer .container {
        flex-direction: column;
        align-items: center; } }
    footer .container:before, footer .container:after {
      display: none; }
  footer .footer-left {
    width: 800px; }
    @media (max-width: 1299px) {
      footer .footer-left {
        width: auto; } }
    @media (max-width: 1199px) {
      footer .footer-left {
        width: 635px; } }
    @media (max-width: 768px) {
      footer .footer-left {
        width: auto; } }
    footer .footer-left .info-img-wrap {
      display: flex; }
      @media (max-width: 768px) {
        footer .footer-left .info-img-wrap {
          flex-direction: column;
          align-items: center; } }
      footer .footer-left .info-img-wrap .info-img {
        width: 280px;
        display: flex;
        align-items: center;
        height: 85px; }
        @media (max-width: 991px) {
          footer .footer-left .info-img-wrap .info-img {
            width: 50%;
            justify-content: center; } }
        footer .footer-left .info-img-wrap .info-img img {
          width: 110px; }
    footer .footer-left .info-text-wrap {
      display: flex; }
      @media (max-width: 768px) {
        footer .footer-left .info-text-wrap {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          margin-bottom: 20px; } }
      footer .footer-left .info-text-wrap .info-text {
        width: 280px;
        height: 270px;
        padding-top: 75px; }
        @media (max-width: 1199px) {
          footer .footer-left .info-text-wrap .info-text {
            height: 200px; } }
        @media (max-width: 991px) {
          footer .footer-left .info-text-wrap .info-text {
            width: 50%;
            height: 150px;
            padding-top: 40px; } }
        @media (max-width: 768px) {
          footer .footer-left .info-text-wrap .info-text {
            width: 100%;
            height: auto;
            padding-top: 15px; } }
        footer .footer-left .info-text-wrap .info-text li {
          font-size: 27px;
          letter-spacing: 1px;
          color: #fff; }
          @media (max-width: 991px) {
            footer .footer-left .info-text-wrap .info-text li {
              text-align: center; } }
          footer .footer-left .info-text-wrap .info-text li + li {
            margin-top: 10px; }
        footer .footer-left .info-text-wrap .info-text a {
          font-size: 27px;
          letter-spacing: 1px;
          color: #fff;
          -webkit-transition: .3s;
          -moz-transition: .3s;
          -ms-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          footer .footer-left .info-text-wrap .info-text a:hover {
            color: #cc0000; }
    footer .footer-left .info-block {
      width: 280px;
      padding-right: 20px; }
    footer .footer-left .footer-nav-menu {
      border-top: 1px solid #fff;
      display: inline-block;
      width: 100%;
      padding-top: 16px; }
      @media (max-width: 768px) {
        footer .footer-left .footer-nav-menu {
          padding-top: 0; } }
      footer .footer-left .footer-nav-menu li {
        float: left;
        letter-spacing: 1px; }
        @media (max-width: 768px) {
          footer .footer-left .footer-nav-menu li {
            width: 50%;
            text-align: center;
            margin-top: 15px; } }
        @media (max-width: 768px) {
          footer .footer-left .footer-nav-menu li:last-child {
            width: 100%; } }
        footer .footer-left .footer-nav-menu li + li {
          margin-left: 70px; }
          @media (max-width: 1199px) {
            footer .footer-left .footer-nav-menu li + li {
              margin-left: 50px; } }
          @media (max-width: 768px) {
            footer .footer-left .footer-nav-menu li + li {
              margin-left: 0; } }
      footer .footer-left .footer-nav-menu a {
        color: #fff;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        footer .footer-left .footer-nav-menu a:hover {
          color: #cc0000; }
  footer .footer-logo-soc {
    width: 200px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 991px) {
      footer .footer-logo-soc {
        margin-top: 25px;
        margin-right: 0; } }
    footer .footer-logo-soc .logo-footer {
      padding: 0 20px; }
      @media (max-width: 768px) {
        footer .footer-logo-soc .logo-footer {
          margin-bottom: 15px; } }
    footer .footer-logo-soc .soc-title {
      margin-bottom: 36px;
      color: #fff; }
    footer .footer-logo-soc .soc-icon {
      display: flex; }
      footer .footer-logo-soc .soc-icon a {
        width: 50%;
        text-align: center;
        color: #fff;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        footer .footer-logo-soc .soc-icon a:hover {
          color: #cc0000; }
      footer .footer-logo-soc .soc-icon .fa-facebook {
        font-size: 60px;
        padding-top: 5px; }
      footer .footer-logo-soc .soc-icon .fa-instagram {
        font-size: 65px; }

p {
  line-height: 1.5em;
  letter-spacing: .5px; }

.head-block {
  position: relative; }
  .head-block .img-left-head {
    position: absolute;
    left: 0;
    top: 0;
    width: 47%;
    z-index: 1; }
    .head-block .img-left-head img {
      width: 100%; }
  .head-block .img-hot-dog {
    position: absolute;
    right: 0;
    bottom: 24%;
    width: 19%;
    z-index: 1; }
    .head-block .img-hot-dog img {
      width: 100%; }
  .head-block .container {
    position: relative;
    z-index: 5; }
  .head-block .top-right {
    width: 44%;
    margin: 223px 0 350px 50%;
    text-align: center; }
    @media (max-width: 1400px) {
      .head-block .top-right {
        margin: 180px 0 200px 40%;
        width: 60%; } }
    @media (max-width: 1199px) {
      .head-block .top-right {
        margin: 100px 0 100px 40%; } }
    @media (max-width: 768px) {
      .head-block .top-right {
        margin: 70px auto 70px auto;
        width: 350px; } }
    @media (max-width: 400px) {
      .head-block .top-right {
        width: 270px; } }
    .head-block .top-right .title {
      font-size: 65px;
      letter-spacing: 5px; }
      @media (max-width: 1199px) {
        .head-block .top-right .title {
          font-size: 50px; } }
      @media (max-width: 400px) {
        .head-block .top-right .title {
          font-size: 40px; } }
    .head-block .top-right span {
      color: #666666;
      display: inline-block;
      margin-top: 15px;
      font-size: 38px; }
      @media (max-width: 1199px) {
        .head-block .top-right span {
          font-size: 30px; } }
      @media (max-width: 768px) {
        .head-block .top-right span {
          font-size: 24px; } }
      @media (max-width: 400px) {
        .head-block .top-right span {
          font-size: 19px; } }
  .head-block .bot {
    text-align: center;
    margin-bottom: 65px;
    display: flex;
    justify-content: center; }
    @media (max-width: 991px) {
      .head-block .bot {
        flex-direction: column;
        align-items: center; } }
  .head-block .bot-left, .head-block .bot-right {
    display: inline-block;
    width: 42%; }
    @media (max-width: 991px) {
      .head-block .bot-left, .head-block .bot-right {
        width: 75%; } }
    @media (max-width: 768px) {
      .head-block .bot-left, .head-block .bot-right {
        width: 500px; } }
    @media (max-width: 550px) {
      .head-block .bot-left, .head-block .bot-right {
        width: 400px; } }
    @media (max-width: 450px) {
      .head-block .bot-left, .head-block .bot-right {
        width: 100%; } }
  .head-block .bot-left {
    display: flex;
    align-items: flex-end;
    text-align: left; }
    .head-block .bot-left p {
      margin-bottom: 100px;
      padding-right: 20%;
      color: #191919; }
      @media (max-width: 1199px) {
        .head-block .bot-left p {
          padding-right: 15px; } }
      @media (max-width: 991px) {
        .head-block .bot-left p {
          padding-right: 0;
          margin-bottom: 20px;
          text-align: center; } }
      @media (max-width: 550px) {
        .head-block .bot-left p {
          font-size: 18px; } }
      @media (max-width: 450px) {
        .head-block .bot-left p {
          font-size: 15px; } }
  .head-block .bot-right {
    background: url("../img/bot-right-bg.jpg") no-repeat center;
    background-size: cover;
    padding: 210px 0 70px 0; }
    @media (max-width: 1700px) {
      .head-block .bot-right {
        padding: 150px 0 70px 0; } }
    @media (max-width: 1199px) {
      .head-block .bot-right {
        padding: 100px 0 70px 0; } }
    @media (max-width: 450px) {
      .head-block .bot-right {
        padding: 60px 0 55px 0; } }
    .head-block .bot-right .bot-right-title {
      color: #fff;
      font-size: 53px;
      letter-spacing: .05em;
      line-height: 1.3em;
      font-family: "Neucha";
      margin-bottom: 2em; }
      @media (max-width: 1700px) {
        .head-block .bot-right .bot-right-title {
          font-size: 34px; } }
      @media (max-width: 1199px) {
        .head-block .bot-right .bot-right-title {
          font-size: 28px; } }
      @media (max-width: 450px) {
        .head-block .bot-right .bot-right-title {
          font-size: 22px; } }
  .head-block .btn {
    color: #fff;
    font-size: 33px; }
    .head-block .btn:after {
      top: 12px; }
      @media (max-width: 768px) {
        .head-block .btn:after {
          top: 5px; } }
    @media (max-width: 768px) {
      .head-block .btn {
        font-size: 24px; } }

.reviews-block {
  background: url("../img/reviews-bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 6px; }
  @media (max-width: 991px) {
    .reviews-block {
      padding-top: 50px; } }
  @media (max-width: 768px) {
    .reviews-block {
      padding-top: 40px; } }
  @media (max-width: 500px) {
    .reviews-block {
      padding-top: 20px; } }
  .reviews-block p {
    text-align: center;
    width: 650px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .reviews-block p {
        width: 100%; } }
  .reviews-block .slick-slider-wrap {
    width: 850px;
    margin: 0 auto;
    padding: 130px 0; }
    @media (max-width: 991px) {
      .reviews-block .slick-slider-wrap {
        width: 700px;
        padding: 90px 0; } }
    @media (max-width: 768px) {
      .reviews-block .slick-slider-wrap {
        width: 100%; } }
    .reviews-block .slick-slider-wrap img {
      -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
      box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4); }
  .reviews-block .slide {
    padding: 26px;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    @media (max-width: 768px) {
      .reviews-block .slide {
        padding: 10px; } }
    .reviews-block .slide.slick-active {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .reviews-block .slick-arrow {
    width: 50px;
    height: 50px;
    background: transparent;
    position: absolute;
    left: calc(50% - 25px);
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 0; }
    .reviews-block .slick-arrow.slick-next {
      border-top: 2px solid #7f7f7f;
      border-left: 2px solid #7f7f7f;
      border-bottom: none;
      border-right: none;
      top: -55px; }
      @media (max-width: 991px) {
        .reviews-block .slick-arrow.slick-next {
          top: -40px; } }
    .reviews-block .slick-arrow.slick-prev {
      bottom: -55px;
      border-bottom: 2px solid #7f7f7f;
      border-right: 2px solid #7f7f7f;
      border-top: none;
      border-left: none; }
      @media (max-width: 991px) {
        .reviews-block .slick-arrow.slick-prev {
          bottom: -40px; } }
    .reviews-block .slick-arrow:hover {
      border-color: #cc0000; }

.hit-block {
  background: url("../img/hit-block-bg.jpg") fixed no-repeat center;
  background-size: cover;
  color: #fff;
  font-family: "Neucha";
  font-size: 54px;
  letter-spacing: 3px; }
  @media (max-width: 991px) {
    .hit-block {
      font-size: 40px; } }
  @media (max-width: 550px) {
    .hit-block {
      font-size: 23px; } }
  .hit-block .container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 30px;
    max-height: 1000px; }
    @media (max-width: 1199px) {
      .hit-block .container {
        max-height: 550px; } }
    @media (max-width: 991px) {
      .hit-block .container {
        max-height: 450px;
        padding-bottom: 15px; } }
    @media (max-width: 768px) {
      .hit-block .container {
        align-items: center;
        text-align: center; } }
    @media (max-width: 550px) {
      .hit-block .container {
        max-height: 350px;
        padding-bottom: 0; } }
  .hit-block .hit-name {
    font-size: 1.2em;
    background: url("../img/brash-red.png") no-repeat center;
    background-size: cover;
    padding: 0 1.3em;
    line-height: 1.7em; }
  .hit-block .hit-price a.btn {
    font-family: "Neucha";
    color: #fff;
    margin-left: 100px;
    font-size: .6em;
    font-weight: bold;
    padding-right: 40px;
    letter-spacing: 1.3px;
    position: relative;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    @media (max-width: 550px) {
      .hit-block .hit-price a.btn {
        margin-left: 30px; } }
    .hit-block .hit-price a.btn:after {
      content: '';
      position: absolute;
      right: -6px;
      top: 9px;
      width: 29px;
      height: 26px;
      background: url(../img/btn-hover.png) no-repeat center;
      background-size: 100%;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      @media (max-width: 991px) {
        .hit-block .hit-price a.btn:after {
          right: 5px;
          top: 6px;
          width: 21px;
          height: 19px; } }
      @media (max-width: 550px) {
        .hit-block .hit-price a.btn:after {
          right: 10px;
          top: 3px;
          width: 15px;
          height: 14px; } }
    .hit-block .hit-price a.btn:hover {
      color: #cc0000; }
      .hit-block .hit-price a.btn:hover:after {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px); }

.menu-block {
  padding-bottom: 60px; }
  .menu-block .menu-blocks {
    display: inline-block;
    width: 100%; }
  .menu-block .one-menu {
    float: left;
    width: 25%;
    height: 300px;
    padding: 15px;
    margin-bottom: 20px;
    position: relative; }
    @media (max-width: 1550px) {
      .menu-block .one-menu {
        height: 250px; } }
    @media (max-width: 1199px) {
      .menu-block .one-menu {
        height: 200px;
        margin-bottom: 10px; } }
    @media (max-width: 991px) {
      .menu-block .one-menu {
        width: 50%; } }
    @media (max-width: 550px) {
      .menu-block .one-menu {
        width: 100%;
        height: 300px; } }
    @media (max-width: 450px) {
      .menu-block .one-menu {
        height: 200px; } }
    @media (max-width: 350px) {
      .menu-block .one-menu {
        height: 150px; } }
  .menu-block .one-menu-img {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    text-align: center;
    opacity: .35;
    z-index: 1;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
    .menu-block .one-menu-img img {
      width: 95%; }
  .menu-block .one-menu-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    font-size: 50px;
    letter-spacing: .2em;
    color: #666666; }
    @media (max-width: 1750px) {
      .menu-block .one-menu-text {
        font-size: 46px; } }
    @media (max-width: 1550px) {
      .menu-block .one-menu-text {
        font-size: 42px; } }
    @media (max-width: 1400px) {
      .menu-block .one-menu-text {
        font-size: 36px; } }
    @media (max-width: 1199px) {
      .menu-block .one-menu-text {
        font-size: 33px; } }
    @media (max-width: 991px) {
      .menu-block .one-menu-text {
        font-size: 46px; } }
    @media (max-width: 700px) {
      .menu-block .one-menu-text {
        font-size: 35px; } }
    .menu-block .one-menu-text span {
      -webkit-transition: .6s;
      -moz-transition: .6s;
      -ms-transition: .6s;
      -o-transition: .6s;
      transition: .6s; }
  .menu-block .text-hover-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../img/brash-red.png") no-repeat center;
    background-size: 85%;
    z-index: 2;
    opacity: 0;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  .menu-block a.go {
    position: absolute;
    top: 20%;
    left: 10%;
    bottom: 20%;
    right: 10%;
    z-index: 5; }
    .menu-block a.go:hover + .one-menu-img {
      opacity: 1; }
      .menu-block a.go:hover + .one-menu-img + .one-menu-text span {
        color: #fff;
        letter-spacing: 0; }
      .menu-block a.go:hover + .one-menu-img + .one-menu-text + .text-hover-bg {
        opacity: 1; }

.menu-page {
  width: 850px;
  margin: 68px auto 100px;
  position: relative; }
  @media (max-width: 1199px) {
    .menu-page {
      padding: 0 100px; } }
  @media (max-width: 991px) {
    .menu-page {
      width: 700px;
      margin: 68px auto 60px; } }
  @media (max-width: 768px) {
    .menu-page {
      padding: 0;
      width: 100%; } }
  @media (max-width: 550px) {
    .menu-page {
      width: 300px; } }
  .menu-page .menu-page-title {
    position: absolute;
    left: -170px;
    top: 75px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: "Neucha";
    color: #cc0000;
    font-size: 100px; }
    @media (max-width: 1199px) {
      .menu-page .menu-page-title {
        left: -55px;
        top: 40px; } }
    @media (max-width: 991px) {
      .menu-page .menu-page-title {
        font-size: 70px;
        left: -20px; } }
    @media (max-width: 768px) {
      .menu-page .menu-page-title {
        position: relative;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        display: block;
        top: 0;
        left: 0;
        text-align: center; } }
  .menu-page .menu-blocks {
    display: inline-block;
    width: 100%; }
  .menu-page .one-menu {
    float: left;
    width: 50%;
    height: 250px;
    padding: 15px;
    position: relative; }
    @media (max-width: 1199px) {
      .menu-page .one-menu {
        height: 170px;
        margin-bottom: 10px; } }
    @media (max-width: 991px) {
      .menu-page .one-menu {
        height: 140px; } }
    @media (max-width: 768px) {
      .menu-page .one-menu {
        height: 220px; } }
    @media (max-width: 650px) {
      .menu-page .one-menu {
        height: 190px; } }
    @media (max-width: 550px) {
      .menu-page .one-menu {
        width: 100%;
        height: 150px; } }
  .menu-page .one-menu-img {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    text-align: center;
    opacity: .35;
    z-index: 1;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
    .menu-page .one-menu-img img {
      width: 95%; }
  .menu-page .one-menu-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    font-size: 50px;
    letter-spacing: .2em;
    color: #666666; }
    @media (max-width: 1199px) {
      .menu-page .one-menu-text {
        font-size: 40px; } }
    @media (max-width: 991px) {
      .menu-page .one-menu-text {
        font-size: 33px; } }
    @media (max-width: 700px) {
      .menu-page .one-menu-text {
        font-size: 35px; } }
    .menu-page .one-menu-text span {
      -webkit-transition: .6s;
      -moz-transition: .6s;
      -ms-transition: .6s;
      -o-transition: .6s;
      transition: .6s; }
  .menu-page .text-hover-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../img/brash-red.png") no-repeat center;
    background-size: 85%;
    z-index: 2;
    opacity: 0;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  .menu-page a.go {
    position: absolute;
    top: 20%;
    left: 10%;
    bottom: 20%;
    right: 10%;
    z-index: 5; }
    .menu-page a.go:hover + .one-menu-img {
      opacity: 1; }
      .menu-page a.go:hover + .one-menu-img + .one-menu-text span {
        color: #fff;
        letter-spacing: 0; }
      .menu-page a.go:hover + .one-menu-img + .one-menu-text + .text-hover-bg {
        opacity: 1; }

.category-page {
  width: 1116px;
  margin: 120px auto 0;
  position: relative; }
  @media (max-width: 1199px) {
    .category-page {
      width: 950px;
      margin: 80px auto 0; } }
  @media (max-width: 991px) {
    .category-page {
      width: 740px;
      margin: 60px auto 0; } }
  @media (max-width: 768px) {
    .category-page {
      width: 100%; } }
  @media (max-width: 450px) {
    .category-page {
      margin: 40px auto 0; } }
  .category-page .page-title-menu {
    position: absolute;
    top: 320px;
    left: -190px;
    display: flex;
    flex-direction: row-reverse;
    transform: rotate(-90deg);
    z-index: 1; }
    @media (max-width: 1199px) {
      .category-page .page-title-menu {
        top: 255px;
        left: -130px; } }
    @media (max-width: 991px) {
      .category-page .page-title-menu {
        position: relative;
        width: 100%;
        transform: rotate(0);
        top: 0;
        left: 0;
        flex-direction: column;
        margin-bottom: 40px; } }
    .category-page .page-title-menu .page-title {
      font-family: "Neucha";
      color: #cc0000;
      font-size: 100px;
      width: 380px;
      text-align: center; }
      @media (max-width: 1199px) {
        .category-page .page-title-menu .page-title {
          font-size: 80px;
          width: 310px; } }
      @media (max-width: 991px) {
        .category-page .page-title-menu .page-title {
          width: 100%;
          margin-bottom: 20px; } }
      @media (max-width: 450px) {
        .category-page .page-title-menu .page-title {
          font-size: 60px;
          margin-bottom: 15px; } }
    .category-page .page-title-menu .page-menu {
      display: inline-block;
      text-align: center;
      transform: rotate(90deg);
      color: #666;
      font-size: 26px;
      line-height: 1.3em; }
      @media (max-width: 1199px) {
        .category-page .page-title-menu .page-menu {
          font-size: 22px; } }
      @media (max-width: 991px) {
        .category-page .page-title-menu .page-menu {
          transform: rotate(0); } }
      @media (max-width: 450px) {
        .category-page .page-title-menu .page-menu {
          font-size: 20px; } }
      .category-page .page-title-menu .page-menu a {
        color: #666;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .category-page .page-title-menu .page-menu a:hover {
          color: #cc0000; }
  .category-page .one-category {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 15px 100px;
    position: relative; }
    @media (max-width: 991px) {
      .category-page .one-category {
        align-items: center;
        padding: 0 15px 50px; } }
    @media (max-width: 450px) {
      .category-page .one-category {
        padding: 0 5px 60px; } }
    .category-page .one-category .category-info {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 300px;
      z-index: 1;
      right: 300px;
      padding-top: 33px; }
      @media (max-width: 991px) {
        .category-page .one-category .category-info {
          position: static;
          margin-bottom: 20px; } }
      .category-page .one-category .category-info .info-title {
        width: 6em;
        height: 1.4em;
        background: url("../img/brash-blue-2.png") no-repeat center;
        background-size: cover;
        color: #fff;
        font-size: 50px;
        font-family: "Neucha";
        text-align: center;
        padding-top: 12px;
        letter-spacing: .05em;
        margin: 0 auto 0.23em; }
        @media (max-width: 450px) {
          .category-page .one-category .category-info .info-title {
            font-size: 35px;
            padding-top: 7px;
            margin-bottom: .1em; } }
      .category-page .one-category .category-info .info-prise {
        font-family: "Neucha";
        font-weight: bold;
        font-size: 44px;
        color: #cc0000;
        padding-left: 1.4em;
        letter-spacing: .1em;
        margin-bottom: 0.4em; }
        @media (max-width: 991px) {
          .category-page .one-category .category-info .info-prise {
            padding-left: 0;
            text-align: center; } }
        @media (max-width: 450px) {
          .category-page .one-category .category-info .info-prise {
            font-size: 30px;
            margin-bottom: 0.2em; } }
      .category-page .one-category .category-info .info-mass {
        font-size: 19px;
        color: #666666;
        padding-left: 3.2em;
        letter-spacing: .05em; }
        @media (max-width: 991px) {
          .category-page .one-category .category-info .info-mass {
            padding-left: 0;
            text-align: center; } }
        @media (max-width: 450px) {
          .category-page .one-category .category-info .info-mass {
            font-size: 14px; } }
    .category-page .one-category .category-img {
      width: 385px;
      margin-bottom: 12px;
      position: relative;
      overflow: hidden; }
      @media (max-width: 450px) {
        .category-page .one-category .category-img {
          width: 100%; } }
      .category-page .one-category .category-img:hover .category-description {
        opacity: 1; }
      .category-page .one-category .category-img img {
        width: 100%; }
      .category-page .one-category .category-img .category-description {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        color: #fff;
        padding: 5px 30px 5px 5px;
        font-size: 18px;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        opacity: 0;
        z-index: 2;
        -webkit-box-shadow: inset -300px 0 200px -100px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: inset -300px 0 200px -100px rgba(0, 0, 0, 0.56);
        box-shadow: inset -300px 0 200px -100px rgba(0, 0, 0, 0.56); }
        .category-page .one-category .category-img .category-description span + span {
          margin-top: 10px; }
    .category-page .one-category .old-btn {
      background: #cc0000;
      color: #fff;
      font-size: 22px;
      font-weight: bold;
      border-radius: 10px;
      padding: 8px 20px 10px;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      margin-bottom: 15px; }
      .category-page .one-category .old-btn:hover {
        background: #002868; }
    .category-page .one-category .btn {
      font-size: 30px;
      color: #666666;
      letter-spacing: .1em; }

.dish-page {
  padding: 110px 0 80px; }
  @media (max-width: 1199px) {
    .dish-page {
      padding: 100px 0 80px; } }
  @media (max-width: 768px) {
    .dish-page {
      padding: 50px 0 60px; } }
  .dish-page .dish-title-wrap {
    text-align: center; }
    .dish-page .dish-title-wrap .dish-title {
      font-family: "Neucha";
      font-size: 53px;
      color: #666;
      font-weight: bold;
      letter-spacing: .05em; }
      @media (max-width: 1199px) {
        .dish-page .dish-title-wrap .dish-title {
          font-size: 50px; } }
      @media (max-width: 991px) {
        .dish-page .dish-title-wrap .dish-title {
          font-size: 40px; } }
      @media (max-width: 768px) {
        .dish-page .dish-title-wrap .dish-title {
          font-size: 33px; } }
    .dish-page .dish-title-wrap .dish-title-img img {
      width: 420px;
      -webkit-transform: translateY(-50px);
      -moz-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      -o-transform: translateY(-50px);
      transform: translateY(-50px); }
      @media (max-width: 1199px) {
        .dish-page .dish-title-wrap .dish-title-img img {
          width: 300px;
          -webkit-transform: translateY(-20px);
          -moz-transform: translateY(-20px);
          -ms-transform: translateY(-20px);
          -o-transform: translateY(-20px);
          transform: translateY(-20px); } }
      @media (max-width: 991px) {
        .dish-page .dish-title-wrap .dish-title-img img {
          width: 200px; } }
  .dish-page .dish-name-wrap .dish-name {
    text-align: center; }
    .dish-page .dish-name-wrap .dish-name .info-title {
      width: 6em;
      height: 1.4em;
      background: url("../img/brash-blue-2.png") no-repeat center;
      background-size: cover;
      color: #fff;
      font-size: 50px;
      font-family: "Neucha";
      text-align: center;
      padding-top: 12px;
      letter-spacing: .05em;
      margin: 0 auto 0.23em; }
      @media (max-width: 450px) {
        .dish-page .dish-name-wrap .dish-name .info-title {
          font-size: 35px;
          padding-top: 7px;
          margin-bottom: .1em; } }
    .dish-page .dish-name-wrap .dish-name .info-prise {
      font-family: "Neucha";
      font-weight: bold;
      font-size: 44px;
      color: #cc0000;
      letter-spacing: .1em;
      margin-bottom: .4em; }
      @media (max-width: 450px) {
        .dish-page .dish-name-wrap .dish-name .info-prise {
          font-size: 30px;
          margin-bottom: 0.2em; } }
    .dish-page .dish-name-wrap .dish-name .old-btn {
      display: inline-block;
      background: #cc0000;
      color: #fff;
      font-size: 22px;
      font-weight: bold;
      border-radius: 10px;
      padding: 8px 20px 10px;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      margin-bottom: 15px; }
      .dish-page .dish-name-wrap .dish-name .old-btn:hover {
        background: #002868; }
  .dish-page .dish-info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1080px;
    margin: 30px auto 0; }
    @media (max-width: 1400px) {
      .dish-page .dish-info-wrap {
        width: 100%; } }
    @media (max-width: 768px) {
      .dish-page .dish-info-wrap {
        flex-direction: column; } }
    .dish-page .dish-info-wrap .dish-info-block {
      width: 500px;
      height: 100%; }
      @media (max-width: 768px) {
        .dish-page .dish-info-wrap .dish-info-block {
          width: 100%;
          max-width: 500px; } }
      @media (max-width: 768px) {
        .dish-page .dish-info-wrap .dish-info-block .dish-composition {
          margin-bottom: 50px; } }
      .dish-page .dish-info-wrap .dish-info-block .dish-composition .one-element {
        display: flex;
        align-items: center; }
        @media (max-width: 768px) {
          .dish-page .dish-info-wrap .dish-info-block .dish-composition .one-element {
            justify-content: center; } }
        .dish-page .dish-info-wrap .dish-info-block .dish-composition .one-element + .one-element {
          margin-top: 10px; }
          @media (max-width: 1199px) {
            .dish-page .dish-info-wrap .dish-info-block .dish-composition .one-element + .one-element {
              margin-top: 0; } }
        .dish-page .dish-info-wrap .dish-info-block .dish-composition .one-element .element-img {
          width: 125px;
          padding: 0 30px 0 0; }
          @media (max-width: 768px) {
            .dish-page .dish-info-wrap .dish-info-block .dish-composition .one-element .element-img {
              padding-right: 5px;
              width: 50%;
              text-align: right; } }
          .dish-page .dish-info-wrap .dish-info-block .dish-composition .one-element .element-img img {
            width: 100%; }
            @media (max-width: 768px) {
              .dish-page .dish-info-wrap .dish-info-block .dish-composition .one-element .element-img img {
                max-width: 100px; } }
        .dish-page .dish-info-wrap .dish-info-block .dish-composition .one-element .element-name {
          font-size: 20px;
          color: #666;
          font-weight: 600; }
          @media (max-width: 768px) {
            .dish-page .dish-info-wrap .dish-info-block .dish-composition .one-element .element-name {
              width: 50%; } }
      .dish-page .dish-info-wrap .dish-info-block .dish-value {
        border: 1px solid #000;
        -webkit-box-shadow: inset 0 0 0 1px #999;
        -moz-box-shadow: inset 0 0 0 1px #999;
        box-shadow: inset 0 0 0 1px #999;
        padding: 21px 30px 34px;
        color: #000; }
        @media (max-width: 500px) {
          .dish-page .dish-info-wrap .dish-info-block .dish-value {
            padding: 21px 15px 34px; } }
        .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-value-title {
          font-weight: bold;
          font-size: 45px;
          margin-bottom: .35em; }
          @media (max-width: 1400px) {
            .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-value-title {
              font-size: 42px; } }
          @media (max-width: 500px) {
            .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-value-title {
              font-size: 34px;
              text-align: center; } }
        .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-all-gram {
          font-size: 21px;
          padding-bottom: 9px;
          border-bottom: 21px solid #000;
          margin-bottom: .6em; }
          @media (max-width: 500px) {
            .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-all-gram {
              font-size: 20px;
              text-align: center; } }
        .dish-page .dish-info-wrap .dish-info-block .dish-value .dash-min-title {
          font-weight: bold;
          font-size: 15px;
          border-bottom: 1px solid #000;
          padding-bottom: 31px;
          margin-bottom: 1em; }
          @media (max-width: 500px) {
            .dish-page .dish-info-wrap .dish-info-block .dish-value .dash-min-title {
              padding-bottom: 20px;
              text-align: center; } }
        .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-calories {
          font-weight: bold;
          font-size: 21px;
          padding-bottom: 9px;
          border-bottom: 10px solid #000;
          margin-bottom: 27px; }
          @media (max-width: 500px) {
            .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-calories {
              font-size: 19px; } }
          .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-calories span {
            display: inline-block;
            margin-left: .5em;
            font-weight: normal; }
        .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-proteins, .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-fats, .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-carbohydrates {
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          font-size: 21px;
          padding-bottom: 24px;
          margin-bottom: 25px;
          border-bottom: 1px solid #000; }
          @media (max-width: 500px) {
            .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-proteins, .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-fats, .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-carbohydrates {
              font-size: 17px;
              padding-bottom: 15px;
              margin-bottom: 15px; } }
          .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-proteins span:nth-child(2), .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-fats span:nth-child(2), .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-carbohydrates span:nth-child(2) {
            font-weight: normal; }
        .dish-page .dish-info-wrap .dish-info-block .dish-value .dish-carbohydrates {
          border-bottom: 10px solid #000;
          padding-bottom: 22px;
          margin-bottom: 0; }
  .dish-page .dish-combination-wrap {
    text-align: center; }
    .dish-page .dish-combination-wrap .combination-title {
      font-size: 25px;
      color: #666;
      text-align: center;
      margin: 80px 0 50px; }
    .dish-page .dish-combination-wrap .all-elements {
      display: flex;
      justify-content: center;
      align-items: flex-start; }
      @media (max-width: 768px) {
        .dish-page .dish-combination-wrap .all-elements {
          flex-direction: column;
          align-items: center; } }
    .dish-page .dish-combination-wrap .one-element {
      width: 200px; }
      .dish-page .dish-combination-wrap .one-element .element-img img {
        width: 100%; }
      .dish-page .dish-combination-wrap .one-element .element-text {
        padding: 20px 5px;
        line-height: 1.4em;
        color: #666; }
        @media (max-width: 768px) {
          .dish-page .dish-combination-wrap .one-element .element-text {
            padding: 0 5px 30px; } }

.stock-page {
  padding: 115px 0; }
  @media (max-width: 768px) {
    .stock-page {
      padding: 80px 0; } }
  @media (max-width: 500px) {
    .stock-page {
      padding: 60px 0; } }
  .stock-page .one-stock {
    position: relative;
    width: 1080px;
    margin: 0 auto 200px; }
    @media (max-width: 1400px) {
      .stock-page .one-stock {
        width: 880px;
        margin-bottom: 150px; } }
    @media (max-width: 1199px) {
      .stock-page .one-stock {
        width: 100%; } }
    @media (max-width: 500px) {
      .stock-page .one-stock {
        margin-bottom: 100px; } }
    .stock-page .one-stock img {
      width: 100%; }
    .stock-page .one-stock .stock-title {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 50px;
      font-family: "Neucha";
      color: #fff;
      padding: 10px 0 0 18px;
      letter-spacing: .05em; }
      @media (max-width: 991px) {
        .stock-page .one-stock .stock-title {
          font-size: 40px;
          text-align: center;
          width: 100%;
          padding-right: 10px; } }
      @media (max-width: 500px) {
        .stock-page .one-stock .stock-title {
          font-size: 35px; } }
    .stock-page .one-stock .stock-info {
      color: #fff;
      background: rgba(200, 29, 30, 0.5);
      position: absolute;
      bottom: 58px;
      padding: 11px 0 0 15px;
      height: 278px;
      width: 50%; }
      @media (max-width: 1400px) {
        .stock-page .one-stock .stock-info {
          bottom: 25px; } }
      @media (max-width: 1199px) {
        .stock-page .one-stock .stock-info {
          height: 335px;
          padding: 20px;
          bottom: auto;
          top: 70px; } }
      @media (max-width: 991px) {
        .stock-page .one-stock .stock-info {
          height: auto;
          top: auto;
          position: relative;
          padding-bottom: 20px;
          background: #cc0000;
          width: 100%; } }
      .stock-page .one-stock .stock-info .stock-info-title {
        font-size: 35px; }
        @media (max-width: 500px) {
          .stock-page .one-stock .stock-info .stock-info-title {
            text-align: center;
            font-size: 26px; } }
      .stock-page .one-stock .stock-info ol {
        counter-reset: myCounter;
        padding-left: 20px; }
        .stock-page .one-stock .stock-info ol li {
          padding-left: 28px;
          line-height: 1.2em; }
          @media (max-width: 500px) {
            .stock-page .one-stock .stock-info ol li {
              padding-left: 0;
              font-size: 18px; } }
    .stock-page .one-stock .stock-time {
      position: absolute;
      bottom: -108px;
      right: -137px;
      background: #002868;
      padding: 12px 0 0 17px;
      color: #fff;
      width: 240px;
      height: 155px; }
      @media (max-width: 1400px) {
        .stock-page .one-stock .stock-time {
          bottom: -57px;
          right: -57px; } }
      @media (max-width: 1199px) {
        .stock-page .one-stock .stock-time {
          bottom: -57px;
          right: 0; } }
      @media (max-width: 991px) {
        .stock-page .one-stock .stock-time {
          bottom: -122px; } }
      @media (max-width: 500px) {
        .stock-page .one-stock .stock-time {
          font-size: 16px;
          width: 150px;
          height: 78px;
          bottom: -50px; } }
      .stock-page .one-stock .stock-time .stock-time-time {
        font-size: 36px;
        margin-top: 28px; }
        @media (max-width: 500px) {
          .stock-page .one-stock .stock-time .stock-time-time {
            font-size: 22px;
            margin-top: 10px; } }
  .stock-page .stock-bottom-text {
    width: 820px;
    text-align: center;
    margin: 0 auto; }
    @media (max-width: 991px) {
      .stock-page .stock-bottom-text {
        width: 100%; } }
    .stock-page .stock-bottom-text p {
      color: #666; }
      @media (max-width: 500px) {
        .stock-page .stock-bottom-text p {
          font-size: 16px; } }
    .stock-page .stock-bottom-text .old-btn {
      background: #cc0000;
      color: #fff;
      cursor: pointer;
      font-size: 22px;
      font-weight: bold;
      border-radius: 10px;
      padding: 9px 25px 12px;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      margin-bottom: 15px;
      display: inline-block;
      margin-top: 20px; }
      @media (max-width: 500px) {
        .stock-page .stock-bottom-text .old-btn {
          padding: 9px 15px 12px;
          font-size: 20px; } }
      .stock-page .stock-bottom-text .old-btn:hover {
        background: #002868; }

.cooperation-page {
  padding: 95px 0 130px; }
  @media (max-width: 1199px) {
    .cooperation-page {
      padding: 55px 0 90px; } }
  @media (max-width: 1199px) {
    .cooperation-page {
      padding: 20px 0 40px; } }
  .cooperation-page .title {
    color: #666;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2em;
    margin-bottom: 1.5em; }
    @media (max-width: 1199px) {
      .cooperation-page .title {
        font-size: 45px;
        margin-bottom: 1em; } }
    .cooperation-page .title .red {
      color: #cc0000; }
  .cooperation-page .title-text {
    text-align: center;
    color: #666;
    margin-bottom: 150px; }
    @media (max-width: 1199px) {
      .cooperation-page .title-text {
        font-size: 18px;
        margin-bottom: 70px; } }
    @media (max-width: 768px) {
      .cooperation-page .title-text {
        font-size: 18px; } }
  .cooperation-page .cooperation-block {
    margin-bottom: 80px; }
    @media (max-width: 768px) {
      .cooperation-page .cooperation-block {
        text-align: center; } }
    .cooperation-page .cooperation-block.right {
      text-align: right; }
      @media (max-width: 768px) {
        .cooperation-page .cooperation-block.right {
          text-align: center; } }
      .cooperation-page .cooperation-block.right .cooperation-title {
        margin-left: auto;
        margin-right: 0; }
        @media (max-width: 768px) {
          .cooperation-page .cooperation-block.right .cooperation-title {
            margin: 0 auto 20px; } }
      .cooperation-page .cooperation-block.right .cooperation-text {
        padding-left: 76px;
        padding-right: 0; }
        @media (max-width: 768px) {
          .cooperation-page .cooperation-block.right .cooperation-text {
            text-align: center;
            padding: 0; } }
    .cooperation-page .cooperation-block .cooperation-title {
      background: url("../img/brash-red.png") no-repeat center;
      background-size: 100%;
      font-family: "Neucha";
      color: #fff;
      letter-spacing: .05em;
      width: 450px;
      padding: 35px 0;
      font-size: 68px;
      text-align: center;
      margin: 0 auto 10px 120px; }
      @media (max-width: 1199px) {
        .cooperation-page .cooperation-block .cooperation-title {
          width: 300px;
          font-size: 40px; } }
      @media (max-width: 991px) {
        .cooperation-page .cooperation-block .cooperation-title {
          margin-bottom: 20px; } }
      @media (max-width: 768px) {
        .cooperation-page .cooperation-block .cooperation-title {
          margin: 0 auto 20px; } }
      @media (max-width: 550px) {
        .cooperation-page .cooperation-block .cooperation-title {
          width: 240px;
          font-size: 33px; } }
    .cooperation-page .cooperation-block .cooperation-text {
      width: 522px;
      padding-right: 76px;
      margin: -15px auto 0;
      line-height: 2em;
      font-size: 21px;
      color: #666; }
      @media (max-width: 768px) {
        .cooperation-page .cooperation-block .cooperation-text {
          text-align: center;
          padding: 0;
          width: 100%;
          max-width: 550px; } }
      .cooperation-page .cooperation-block .cooperation-text p {
        line-height: 1.8; }
        @media (max-width: 768px) {
          .cooperation-page .cooperation-block .cooperation-text p {
            line-height: 1.4em; } }
        @media (max-width: 450px) {
          .cooperation-page .cooperation-block .cooperation-text p {
            font-size: 16px; } }
    .cooperation-page .cooperation-block .btn-wrap {
      width: 522px;
      margin: 15px auto 0; }
      @media (max-width: 768px) {
        .cooperation-page .cooperation-block .btn-wrap {
          width: 100%;
          max-width: 550px; } }
  .cooperation-page .btn {
    cursor: pointer;
    font-size: 33px; }
    .cooperation-page .btn:after {
      top: 12px; }
  .cooperation-page .you-get-wrap {
    padding-bottom: 120px; }
    @media (max-width: 1199px) {
      .cooperation-page .you-get-wrap {
        padding-bottom: 100px; } }
    @media (max-width: 991px) {
      .cooperation-page .you-get-wrap {
        padding-bottom: 60px; } }
    @media (max-width: 768px) {
      .cooperation-page .you-get-wrap .title {
        font-size: 40px; } }
    @media (max-width: 400px) {
      .cooperation-page .you-get-wrap .title {
        font-size: 35px; } }
    .cooperation-page .you-get-wrap .line {
      width: 4px;
      margin: 0 auto;
      background: #666;
      height: 210px;
      position: relative; }
      .cooperation-page .you-get-wrap .line:after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: -3px;
        background: #666;
        width: 10px;
        height: 10px;
        border-radius: 50%; }
    .cooperation-page .you-get-wrap .you-get-block {
      display: flex;
      justify-content: space-between;
      width: 1100px;
      margin: 0 auto; }
      @media (max-width: 1199px) {
        .cooperation-page .you-get-wrap .you-get-block {
          width: 900px; } }
      @media (max-width: 991px) {
        .cooperation-page .you-get-wrap .you-get-block {
          width: 100%;
          flex-direction: column;
          align-items: center; } }
    .cooperation-page .you-get-wrap .one-you-get {
      display: flex;
      align-items: center; }
      @media (max-width: 991px) {
        .cooperation-page .you-get-wrap .one-you-get {
          flex-direction: column;
          margin-bottom: 20px;
          align-items: center;
          text-align: center; } }
      .cooperation-page .you-get-wrap .one-you-get .number {
        color: #cc0000;
        font-weight: 600;
        font-size: 60px;
        font-family: "Neucha";
        margin-right: 30px; }
        @media (max-width: 1199px) {
          .cooperation-page .you-get-wrap .one-you-get .number {
            font-size: 50px;
            margin-right: 10px; } }
        @media (max-width: 991px) {
          .cooperation-page .you-get-wrap .one-you-get .number {
            font-size: 55px;
            margin-right: 0; } }
        @media (max-width: 400px) {
          .cooperation-page .you-get-wrap .one-you-get .number {
            font-size: 40px; } }
      .cooperation-page .you-get-wrap .one-you-get .text {
        color: #666;
        font-size: 27px;
        margin-bottom: 8px; }
        @media (max-width: 1199px) {
          .cooperation-page .you-get-wrap .one-you-get .text {
            font-size: 22px; } }
        @media (max-width: 991px) {
          .cooperation-page .you-get-wrap .one-you-get .text {
            font-size: 30px; } }
        @media (max-width: 550px) {
          .cooperation-page .you-get-wrap .one-you-get .text {
            font-size: 25px; } }
        @media (max-width: 400px) {
          .cooperation-page .you-get-wrap .one-you-get .text {
            font-size: 20px; } }
  .cooperation-page form {
    background: #666;
    color: #fff;
    width: 1000px;
    margin: 0 auto;
    padding: 30px 60px; }
    @media (max-width: 1400px) {
      .cooperation-page form {
        width: 100%; } }
    @media (max-width: 550px) {
      .cooperation-page form {
        padding: 30px 10px; } }
    .cooperation-page form .form-title {
      color: #fff;
      font-weight: bold;
      font-size: 50px;
      text-align: center;
      margin-bottom: 60px; }
      @media (max-width: 550px) {
        .cooperation-page form .form-title {
          font-size: 40px;
          margin-bottom: 30px; } }
    .cooperation-page form .check-wrap {
      display: flex;
      padding: 0 15px;
      margin-bottom: 65px; }
      @media (max-width: 768px) {
        .cooperation-page form .check-wrap {
          flex-direction: column;
          align-items: center;
          margin-bottom: 30px; } }
      .cooperation-page form .check-wrap .check-title {
        margin-right: 60px; }
        @media (max-width: 768px) {
          .cooperation-page form .check-wrap .check-title {
            margin-right: 0; } }
      .cooperation-page form .check-wrap label {
        letter-spacing: .05em;
        cursor: pointer; }
        @media (max-width: 768px) {
          .cooperation-page form .check-wrap label {
            margin-top: 10px; } }
        .cooperation-page form .check-wrap label + label {
          margin-left: 20px; }
          @media (max-width: 768px) {
            .cooperation-page form .check-wrap label + label {
              margin-left: 0; } }
        .cooperation-page form .check-wrap label input {
          display: inline-block;
          overflow: hidden;
          height: 0;
          width: 0;
          opacity: 0; }
        .cooperation-page form .check-wrap label.active {
          font-weight: bold;
          letter-spacing: normal; }
    .cooperation-page form .input-wrap {
      display: flex; }
      @media (max-width: 991px) {
        .cooperation-page form .input-wrap {
          flex-direction: column; } }
      .cooperation-page form .input-wrap .left, .cooperation-page form .input-wrap .right {
        padding: 0 15px;
        width: 50%;
        height: 100%; }
        @media (max-width: 991px) {
          .cooperation-page form .input-wrap .left, .cooperation-page form .input-wrap .right {
            width: 100%; } }
        .cooperation-page form .input-wrap .left input, .cooperation-page form .input-wrap .left textarea, .cooperation-page form .input-wrap .right input, .cooperation-page form .input-wrap .right textarea {
          display: inline-block;
          width: 100%;
          background: transparent;
          color: #fff;
          border: none;
          border-bottom: 1px solid #fff;
          font-size: 20px;
          padding-bottom: 5px;
          letter-spacing: .05em; }
          .cooperation-page form .input-wrap .left input::-webkit-input-placeholder, .cooperation-page form .input-wrap .left textarea::-webkit-input-placeholder, .cooperation-page form .input-wrap .right input::-webkit-input-placeholder, .cooperation-page form .input-wrap .right textarea::-webkit-input-placeholder {
            color: #fff; }
          .cooperation-page form .input-wrap .left input::-moz-placeholder, .cooperation-page form .input-wrap .left textarea::-moz-placeholder, .cooperation-page form .input-wrap .right input::-moz-placeholder, .cooperation-page form .input-wrap .right textarea::-moz-placeholder {
            color: #fff; }
          .cooperation-page form .input-wrap .left input:-moz-placeholder, .cooperation-page form .input-wrap .left textarea:-moz-placeholder, .cooperation-page form .input-wrap .right input:-moz-placeholder, .cooperation-page form .input-wrap .right textarea:-moz-placeholder {
            color: #fff; }
          .cooperation-page form .input-wrap .left input:-ms-input-placeholder, .cooperation-page form .input-wrap .left textarea:-ms-input-placeholder, .cooperation-page form .input-wrap .right input:-ms-input-placeholder, .cooperation-page form .input-wrap .right textarea:-ms-input-placeholder {
            color: #fff; }
          @media (max-width: 450px) {
            .cooperation-page form .input-wrap .left input, .cooperation-page form .input-wrap .left textarea, .cooperation-page form .input-wrap .right input, .cooperation-page form .input-wrap .right textarea {
              font-size: 17px; } }
        .cooperation-page form .input-wrap .left input + input, .cooperation-page form .input-wrap .right input + input {
          margin-top: 58px; }
          @media (max-width: 768px) {
            .cooperation-page form .input-wrap .left input + input, .cooperation-page form .input-wrap .right input + input {
              margin-top: 35px; } }
        .cooperation-page form .input-wrap .left textarea, .cooperation-page form .input-wrap .right textarea {
          height: 206px;
          font-size: 25px; }
          @media (max-width: 991px) {
            .cooperation-page form .input-wrap .left textarea, .cooperation-page form .input-wrap .right textarea {
              margin-top: 58px; } }
          @media (max-width: 768px) {
            .cooperation-page form .input-wrap .left textarea, .cooperation-page form .input-wrap .right textarea {
              margin-top: 35px;
              height: 120px; } }
          @media (max-width: 450px) {
            .cooperation-page form .input-wrap .left textarea, .cooperation-page form .input-wrap .right textarea {
              font-size: 19px; } }
    .cooperation-page form .btn-wrap {
      text-align: center;
      margin-top: 60px; }
      .cooperation-page form .btn-wrap .btn {
        color: #fff; }

.order-page {
  padding: 70px 0; }
  @media (max-width: 1199px) {
    .order-page {
      padding: 50px 0; } }
  @media (max-width: 991px) {
    .order-page {
      padding: 20px 0 50px; } }
  .order-page .container {
    position: relative; }
    .order-page .container .form-wrap {
      width: 50%;
      margin-left: 50%;
      padding: 65px 0 0 15px;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      @media (max-width: 1199px) {
        .order-page .container .form-wrap {
          padding: 10px 0 0 15px; } }
      @media (max-width: 991px) {
        .order-page .container .form-wrap {
          padding: 10px 0 0 0;
          width: 100%;
          margin-left: 0; } }
      .order-page .container .form-wrap .input-wrap {
        display: inline-block;
        width: 100%; }
      .order-page .container .form-wrap ::-webkit-input-placeholder {
        color: #b0b0b0; }
      .order-page .container .form-wrap ::-moz-placeholder {
        color: #b0b0b0; }
      .order-page .container .form-wrap :-moz-placeholder {
        color: #b0b0b0; }
      .order-page .container .form-wrap :-ms-input-placeholder {
        color: #b0b0b0; }
      .order-page .container .form-wrap input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #666;
        color: #666;
        display: inline-block;
        width: calc(50% - 15px);
        float: left;
        font-size: 20px;
        margin-top: 23px;
        margin-bottom: 36px;
        padding-bottom: 4px; }
        @media (max-width: 1450px) {
          .order-page .container .form-wrap input {
            font-size: 16px;
            margin-top: 15px;
            margin-bottom: 30px; } }
        @media (max-width: 550px) {
          .order-page .container .form-wrap input {
            width: 100%; } }
        .order-page .container .form-wrap input:nth-child(2n) {
          margin-left: 30px; }
          @media (max-width: 550px) {
            .order-page .container .form-wrap input:nth-child(2n) {
              margin-left: 0; } }
      .order-page .container .form-wrap textarea {
        background: transparent;
        border: none;
        border-bottom: 1px solid #666;
        color: #666;
        display: inline-block;
        width: 100%;
        float: left;
        font-size: 23px;
        margin-top: 23px;
        margin-bottom: 36px;
        padding-bottom: 4px; }
        @media (max-width: 1450px) {
          .order-page .container .form-wrap textarea {
            font-size: 18px;
            margin-top: 15px;
            margin-bottom: 30px; } }
      .order-page .container .form-wrap .form-title {
        color: #002868;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 40px;
        display: inline-block;
        width: 100%;
        margin-top: 25px; }
        @media (max-width: 1450px) {
          .order-page .container .form-wrap .form-title {
            font-size: 30px; } }
        @media (max-width: 1199px) {
          .order-page .container .form-wrap .form-title {
            font-size: 28px;
            margin-top: 15px;
            margin-bottom: 30px; } }
        @media (max-width: 991px) {
          .order-page .container .form-wrap .form-title {
            text-align: center; } }
  .order-page .order-card {
    position: absolute;
    width: 43%;
    top: 236px;
    left: 15px;
    background: #002868;
    -webkit-box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.2);
    padding: 0 18px;
    letter-spacing: .5px; }
    @media (max-width: 1550px) {
      .order-page .order-card {
        width: 47%; } }
    @media (max-width: 991px) {
      .order-page .order-card {
        position: static;
        width: 100%;
        display: inline-block;
        margin-bottom: 50px;
        margin-top: 50px; } }
    .order-page .order-card .card-title {
      color: #fff;
      font-size: 20px;
      margin-bottom: 50px;
      margin-top: 25px; }
      @media (max-width: 1550px) {
        .order-page .order-card .card-title {
          font-size: 18px;
          margin-bottom: 30px;
          margin-top: 15px; } }
    .order-page .order-card ul.one-card > li + li {
      border-top: 1px solid #bbbbbb;
      padding-top: 16px; }
    .order-page .order-card .price-name {
      font-size: 26px;
      color: #fff; }
      @media (max-width: 1550px) {
        .order-page .order-card .price-name {
          font-size: 23px; } }
      @media (max-width: 550px) {
        .order-page .order-card .price-name {
          font-size: 19px; } }
    .order-page .order-card .card-prise {
      display: flex;
      justify-content: space-between;
      height: 55px; }
      .order-page .order-card .card-prise .numeric {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 47px;
        font-size: 28px; }
        @media (max-width: 1550px) {
          .order-page .order-card .card-prise .numeric {
            font-size: 20px; } }
        .order-page .order-card .card-prise .numeric .min, .order-page .order-card .card-prise .numeric .max {
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          color: #fff; }
          .order-page .order-card .card-prise .numeric .min:hover, .order-page .order-card .card-prise .numeric .max:hover {
            color: #cc0000; }
        .order-page .order-card .card-prise .numeric .number {
          font-weight: bold;
          color: #cc0000;
          font-size: 28px; }
      .order-page .order-card .card-prise .numeric-price {
        display: flex;
        min-width: 120px;
        align-items: center;
        justify-content: space-between; }
        .order-page .order-card .card-prise .numeric-price .price {
          font-weight: bold;
          color: #fff;
          font-size: 28px;
          margin-right: 10px; }
          @media (max-width: 1550px) {
            .order-page .order-card .card-prise .numeric-price .price {
              font-size: 24px; } }
          .order-page .order-card .card-prise .numeric-price .price:after {
            content: 'ГРН';
            font-weight: normal;
            margin-left: 8px; }
        .order-page .order-card .card-prise .numeric-price .dell {
          font-size: 20px;
          color: #fff;
          cursor: pointer; }
    .order-page .order-card .delivery .card-text {
      font-size: 14px;
      display: flex;
      align-items: center;
      text-decoration: underline; }
      .order-page .order-card .delivery .card-text a {
        color: #fff; }
        .order-page .order-card .delivery .card-text a:hover {
          color: #cc0000; }
    .order-page .order-card .btn {
      color: #fff;
      font-size: 24px; }
      @media (max-width: 550px) {
        .order-page .order-card .btn {
          font-size: 20px; } }
  .order-page .old-btn {
    background: #cc0000;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 20px 10px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-bottom: 15px;
    display: inline-block;
    cursor: pointer;
    margin-top: 40px; }
    .order-page .old-btn:hover {
      background: #002868; }
  @media (max-width: 991px) {
    .order-page .btn-wrap {
      text-align: center; } }
  .order-page .cash {
    float: left;
    width: calc(50% - 15px); }
    @media (max-width: 550px) {
      .order-page .cash {
        width: 100%; } }
    .order-page .cash .one-cash {
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 20px;
      padding-top: 19px;
      position: relative;
      color: #666;
      cursor: pointer;
      opacity: .3; }
      .order-page .cash .one-cash.active {
        opacity: 1; }
        .order-page .cash .one-cash.active:before {
          background: #39b54a; }
      .order-page .cash .one-cash:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border: 1px solid #666;
        background: #fff;
        border-radius: 50%; }
  .order-page .non-cash {
    position: relative;
    display: inline-block;
    width: 100%; }
    .order-page .non-cash.active:before {
      display: none; }
    .order-page .non-cash:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #fff;
      opacity: .7; }
  .order-page .title {
    font-size: 51px;
    font-weight: 600; }
    @media (max-width: 1199px) {
      .order-page .title {
        font-size: 45px; } }
    @media (max-width: 768px) {
      .order-page .title {
        font-size: 40px; } }

.pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0; }
  .pop-up.life {
    display: flex; }
  .pop-up.see {
    opacity: 1; }
  .pop-up .pop-up-body {
    background: #666;
    text-align: center;
    width: 500px;
    height: 200px;
    padding: 70px 100px 20px;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    @media (max-width: 550px) {
      .pop-up .pop-up-body {
        width: calc(100% - 30px);
        height: 180px;
        padding: 58px 10% 20px; } }
    @media (max-width: 400px) {
      .pop-up .pop-up-body {
        padding: 58px 15px 20px; } }
    .pop-up .pop-up-body input {
      display: inline-block;
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      text-transform: uppercase;
      height: 40px;
      padding: 10px;
      font-size: 18px;
      margin-bottom: 20px; }
      @media (max-width: 550px) {
        .pop-up .pop-up-body input {
          height: 30px;
          padding: 0 10px;
          font-size: 14px; } }
    .pop-up .pop-up-body ::-webkit-input-placeholder {
      color: #fff; }
    .pop-up .pop-up-body ::-moz-placeholder {
      color: #fff; }
    .pop-up .pop-up-body :-moz-placeholder {
      color: #fff; }
    .pop-up .pop-up-body :-ms-input-placeholder {
      color: #fff; }
    .pop-up .pop-up-body .btn {
      font-size: 30px;
      color: #fff;
      letter-spacing: .1em;
      display: inline-block;
      cursor: pointer; }
      @media (max-width: 550px) {
        .pop-up .pop-up-body .btn {
          font-size: 20px; } }
      @media (max-width: 550px) {
        .pop-up .pop-up-body .btn:after {
          top: 0; } }
